@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
    }
    .nav-contents{
        justify-content: flex-start;
        gap: 16px;
    }
    .mobile-category-item{
        display: block;
    }
    .main-hero-section{
        padding-top: 24px;
    }
    .section-images-wrapper img{
        max-width: none;
        height: auto;
        width: 150vw;
        margin-left: 10vw;
        mask-image: radial-gradient(90% 50% at 50% 50%, #d9d9d9 0, hsla(0, 0%, 45%, 0) 100%);
    }
    .individual-footer-contents{
        border-bottom: 2px solid hsla(0,0%,100%,.05);
        border-top: 2px solid hsla(0,0%,100%,.05);
        padding-inline-end: 0;
        padding-block: 40px;
    }
    .section-images-wrapper::before{
        margin-top: 0;
    }
    .build-next-section-image{
        margin-inline: auto;
        padding: 0;
    }
    .build-next-svg-content{
        margin-left: 64px;
        max-width: 70vw;
    }
}
@media (max-width: 640px) {
    .tab-desktop-show{
        display: none;
    }
    .hero-image-height-perspective{
        height: 600px;
    }
    .hero-image-rotate-conainer{
        margin-top: 100px;
        margin-left: 1%;
        transform: scale(.7) rotateX(47deg) rotateY(21deg) rotate(330deg);
    }
    .product-page-section{
        padding:48px 0;
    }
    .section-header-text{
        font-size: 40px;
        line-height: 44px;
        letter-spacing: -0.6px;
        text-wrap: balance;
        font-weight: 538;
        font-variation-settings: "opsz" 28;
    }
    .section-images-wrapper img{
        max-width: none;
        width: 250vw;
        margin-left: 40vw;
    }
    .build-next-benifits-logotext-container{
        flex-direction: column;
    }
}
@media (prefers-reduced-motion: no-preference) {
    .scrolling-content {
        animation: scrolling-content 60s linear infinite;
    }
}
@keyframes scrolling-content{
    0% {
    transform: translateX(0);
    }
    100% { 
    transform: translateX(-100%);
    }
}