@media (max-width: 1024px) {
  .footer-inner-container {
    grid-template-columns: auto repeat(5, minmax(0, 1fr));
    grid-template-rows: unset;
  }
  .footer-section-contents {
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: -0.01em;
  }
  #section-grid-area {
    --grid-area: "a a a a b b b b";
  }
  .only-show-desktop {
    display: none;
  }
  .set-product-page-section{
    gap: 0;
  }
}

@media (max-width: 768px) {
  .footer-logo-container {
    grid-row: 1 / 1;
    grid-column: 1 / -1;
  }
  #three-item-container {
    --grid-area: "a a a a a a a a" "b b b b b b b b" "c c c c c c c c";
  }
  #made-for-section-grid-area,
  #collaborate-section-grid-area {
    --grid-area: "a a a a a a a a" "b b b b b b b b";
  }
  .nav-container {
    flex-direction: column;
  }
  .nav-contents {
    justify-content: flex-start;
    gap: 16px;
  }
  .mobile-category-item {
    display: block;
  }
  .section-images-wrapper img {
    max-width: none;
    height: auto;
    width: 150vw;
    margin-left: 10vw;
    mask-image: radial-gradient(
      90% 50% at 50% 50%,
      #d9d9d9 0,
      hsla(0, 0%, 45%, 0) 100%
    );
  }
  .linear-insight-image {
    max-width: none;
    width: 250%;
    height: auto;
    margin-left: -100%;
  }
  .individual-footer-contents {
    border-bottom: 2px solid hsla(0, 0%, 100%, 0.05);
    border-top: 2px solid hsla(0, 0%, 100%, 0.05);
    padding-inline-end: 0;
    padding-block: 40px;
  }
  .section-images-wrapper::before {
    margin-top: 0;
  }
  .build-next-section-image {
    margin-inline: auto;
    padding: 0;
  }
  .linear-insight-section-image {
    grid-row: auto;
  }
  .build-next-section-image img {
    max-width: none;
    width: 268%;
    height: auto;
    margin-left: -100%;
    scale: 1.075;
    top: 59.9px;
    left: -12.7%;
  }
  .individual-collaborate-scroller {
    padding: 24px;
  }
  .collaborate-scroller-footer-container {
    max-width: none;
  }
  .footer-header {
    margin-bottom: 16px;
  }
  .footer-list-content {
    white-space: normal;
  }
  .footer-inner-container {
    column-gap: 16px;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: auto repeat(3, auto);
  }
  .collaborate-text-container {
    grid-area: a;
    display: inline;
  }
  .set-product-text-container {
    display: contents;
  }
}
@media (max-width: 640px) {
  .tab-desktop-show {
    display: none;
  }
  .main-hero-section {
    padding-top: 24px;
  }
  .hero-image-height-perspective {
    height: 600px;
  }
  .hero-image-rotate-conainer {
    margin-top: 100px;
    margin-left: 1%;
    transform: scale(0.7) rotateX(47deg) rotateY(21deg) rotate(330deg);
  }
  .section-header-text,
  .product-header-text {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.6px;
    text-wrap: balance;
    font-weight: 538;
    font-variation-settings: "opsz" 28;
  }
  .product-header-text {
    text-wrap: unset;
  }
  .section-images-wrapper img {
    max-width: none;
    width: 250vw;
    margin-left: 40vw;
  }
  .build-next-benifits-logotext-container {
    flex-direction: column;
  }
  .tracking-section {
    padding: 48px 0;
  }
  .issue-section-images-wrapper::after {
    margin-bottom: -20%;
  }
  .build-next-svg-content {
    margin-left: 64px;
    max-width: 70vw;
  }
  #section-grid-area,
  #made-for-section-grid-area,
  #collaborate-section-grid-area {
    --grid-area: "a a a a" "b b b b";
  }
  #three-item-container {
    --grid-area: "a a a a" "b b b b" "c c c c";
  }
}
@media (max-width: 424px) {
  .individual-collaborate-scroller {
    max-width: 295px;
  }
}
@media (prefers-reduced-motion: no-preference) {
  .scrolling-content {
    animation: scrolling-content 60s linear infinite;
  }
}
@keyframes scrolling-content {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes verification-rotate {
  0% {
    transform: rotate(0turn);
  }

  100% {
    transform: rotate(1turn);
  }
}
@property --mask-overlap {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}
@media (min-width: 641px) {
  .hide-tab-desktop {
    display: none;
  }
  .from-tablet {
    display: block;
  }
  .strong-foundation-text-content {
    display: contents;
  }
  .hero-header,
  .hero-para-text {
    text-align: left;
    text-wrap: balance;
  }
  .hero-button-container {
    flex-direction: row;
    justify-content: flex-start;
  }
  .hero-image-container::before {
    margin-top: -18%;
    content: "";
    display: block;
    background: red;
  }
  .navbar-logo {
    flex: 1 1;
  }
  .section-header-text,
  .product-header-text {
    font-size: 56px;
    line-height: 1.1;
    font-weight: 538;
    letter-spacing: -0.0325em;
    text-wrap: balance;
    font-variation-settings: "opsz" 28;
  }
  .issue-section-image {
    max-width: none;
    width: 150vw;
    margin-left: -20vw;
  }
  .set-the-poduct-para:first-child {
    text-wrap: unset;
  }
  .description-text {
    margin-right: 0;
  }
  .build-next-benifits-container {
    grid-template-columns: repeat(8, minmax(0, 1fr));
    margin: 0;
    max-width: unset;
    grid-template-rows: repeat(1, auto);
  }
  .buid-next-benifits:first-child {
    grid-area: 1 / 1 / 1 / 5;
  }
  .buid-next-benifits:nth-child(2) {
    grid-area: 1 / 5 / 1 / 9;
  }
  .buid-next-benifits:nth-child(3) {
    grid-area: 2 / 1 / 2 / 5;
  }
  .buid-next-benifits:nth-child(4) {
    grid-area: 2 / 5 / 2 / 9;
  }
  .individual-collaborate-scroller {
    max-width: unset;
  }
  .build-future-page-section-container {
    flex-direction: row;
    gap: 68px;
    align-items: flex-end;
  }
  .build-page-section {
    padding: 96px 0;
  }
  .collaborate-page-section {
    padding: 160px 0;
  }
  .product-page-section {
    padding: 160px 0;
    isolation: isolate;
  }
  .strong-foundation-text-container-one-column {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    gap: 32px;
    grid-template-areas: "a a a a a a a a";
  }
  .strong-foundation-container {
    grid-area: b;
  }
  .grid-c {
    grid-area: c;
  }
  .strong-foundation-text-container {
    display: flex;
    grid-area: a;
    flex-direction: column;
  }
  .strong-foundation-dl-container {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-areas:
      "a b"
      "c d"
      "e f";
    row-gap: 40px;
    column-gap: 48px;
  }
  .linear-grid-section {
    grid-area: "a a a a a a a a" "b b b b b b b b";
    grid-template-columns: repeat(8, minmax(0, 1fr));
  }
}
@media (min-width: 718px) {
  .hero-header {
    text-wrap: unset;
  }
}
@media (min-width: 769px) {
  .mobile-category-item {
    display: none;
  }
  #setproduct-section-grid-area {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-areas: "a a a a a a a a . . . . ." "b b b b b . . . . . . . .";
  }
  #made-for-section-grid-area,
  #collaborate-section-grid-area {
    --grid-area: "a a a a a a . b b b b b";
  }
  #three-item-container {
    --grid-area: "a a a a a . . . . . ." "b b b b b . . . . . ."
      "c c c c c . . . . . .";
  }
  .set-product-text-container {
    display: block;
    grid-area: a;
  }
  .notification-container {
    height: unset;
  }
  #setproduct-para {
    text-wrap: unset;
  }
  .tablet-only {
    display: block;
  }
  .hide-tablet {
    display: none;
  }
  .issue-section-image {
    max-width: 1600px;
    width: 250vw;
    margin-left: 0;
  }
  .issue-section-image::before {
    content: "";
    display: block;
    margin-top: -4%;
  }
  .issue-section-image::after {
    content: "";
    display: block;
    margin-top: -6%;
  }
  .set-the-poduct-para:first-child {
    text-wrap: balance;
  }
  .product-section-image {
    height: auto;
    width: 1600px;
    mask: radial-gradient(57% 57% at 50% 35%,#d9d9d9 0,hsla(0,0%,45%,0) 100%);
  }
  .section-images-wrapper::before {
    margin-top: -8%;
  }
  .product-header-text {
    text-wrap: balance;
  }
  .product-page-section-text-container {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-areas: "a a a a a a a a . . . . ." "b b b b b . . . . . . . .";
    padding: 0 24px;
    gap: 32px;
  }
  .tablet-to-desktop-center-nav {
    display: flex;
    justify-content: space-between;
  }
  .small-para-grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 32px;
    grid-template-areas:
      "a a a a a a a a . . . . ."
      "b b b b b . . . . . . . .";
    padding: 0 24px;
  }
  .highlighter-text {
    display: unset;
  }
  .page-section-header {
    grid-area: a;
  }
  .footer-header,
  .footer-list-container {
    font-size: 14px;
    font-weight: 400;
  }
  .section-footer-grid-container {
    border-top: 2px solid hsla(0, 0%, 100%, 0.05);
    display: grid;
    grid-template-rows: repeat(1, minmax(0, 1fr));
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 32px;
    grid-template-areas: "a a a a a a b b b b b b";
    border-bottom: 2px solid hsla(0, 0%, 100%, 0.05);
  }
  .individual-footer-contents::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 2px;
    background: hsla(0, 0%, 100%, 0.05);
    transform: translateX(calc(32px / 2 + 2px / 2));
  }
  .strong-foundation-header {
    align-items: flex-start;
  }
  .display-flex-alternative-svg {
    margin-top: 3.5px;
  }
  .grid-1 {
    grid-area: a;
  }
  .grid-2 {
    grid-area: b;
    position: relative;
    padding: 56px 0 56px 48px;
  }
  .product-page-section {
    padding: 160px 0;
    position: relative;
  }
  .section-images-wrapper {
    overflow: hidden;
  }
  .tablet-spacer {
    display: none;
  }
  .tablet-to-desktop {
    display: block;
  }
  .left-right-button {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
  }
  .left-right-buttons {
    width: 40px;
    border-radius: 50%;
    background: var(--color-background-q);
    color: var(--text-color-p);
    border: 0.5px solid #3e3e44;
    height: 40px;
    gap: 6px;
    padding: 0 16px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    max-width: 100%;
    flex-shrink: 0;
    margin: 0;
  }
  #button-left {
    opacity: 0.5;
  }
  .left-right-button svg {
    fill: var(--text-color-p);
  }
  .collaborate-ideas-grid {
    border-bottom: 2px hsla(0, 0%, 100%, 0.05);
    border-top: 2px hsla(0, 0%, 100%, 0.05);
    display: grid;
    grid-template-rows: unset;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 32px;
    grid-template-areas: "a a a a b b b b b b b b";
  }
  .collaborate-text-container {
    grid-area: a;
  }
  .build-next-section-image {
    grid-area: b;
  }
  .buid-next-benifits:nth-child(1) {
    grid-area: 1 / 1 / 1 / 3;
  }
  .buid-next-benifits:nth-child(2) {
    grid-area: 1 / 3 / 2 / 5;
  }
  .buid-next-benifits:nth-child(3) {
    grid-area: 1 / 5 / 1 / 7;
  }
  .buid-next-benifits:nth-child(4) {
    grid-area: 1/ 7 / 1/ 9;
  }
  .triage-small-padding-container {
    height: unset;
  }
  .linear-text-container {
    z-index: 1;
    grid-column: 1 / span 3;
  }
  .build-on-strong-svg-container {
    position: absolute;
    inset: 0;
    overflow: hidden;
  }
  .product-page-section-container, .set-product-page-section {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    display: grid;
    grid-template-areas: var(--grid-area);
  }
  .build-on-strong-svg {
    display: block;
    position: absolute;
    inset-block: 0;
    margin-block: auto;
    left: 50%;
  }
  .nav-contents {
    justify-content: space-between;
  }
}
@media (min-width: 1009px) {
  .hero-header,
  .hero-para-text {
    text-wrap: balance;
  }
}
@media (min-width: 1025px) {
  .hero-header,
  .hero-para-text {
    text-wrap: balance;
  }
  .main-hero-section {
    max-width: 1024px;
  }
  .hero-image-container::before {
    margin-top: -140px;
  }
  .product-page-section-text-container,
  .product-page-section-container, .set-product-page-section {
    max-width: 1024px;
    margin: 0 auto;
  }
  .individual-scrolling--containers {
    justify-content: center;
  }
  .set-page-section-text-container {
    margin: 0 auto;
    max-width: 1024px;
  }
  .individual-scroller_collaborate-section::before {
    min-width: 200px;
  }
  .footer-inner-container {
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: unset;
  }
  .desktop-only {
    display: block;
  }
  #made-for-section-grid-area {
    --grid-area: "a a a a a a b b b b b b";
  }
  .till-desktop {
    display: none;
  }
  .only-show-desktop {
    display: block;
  }
  .linear-grid-section {
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .linear-text-container {
    grid-column: 1 / span 6;
  }
  .individual-scroller_collaborate-section::before {
    min-width: 16px;
  }
  .build-future-page-section-container {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    --grid-area: "a a a a a a a a b b b b";
    gap: 32px;
  }
  .build-future-button-container {
    justify-content: flex-end;
  }
  .footer-header,
  .footer-list-container {
    font-weight: 510;
  }
}
