@font-face {
    font-family: 'default';
    src: url('/Assets/InterVariable.woff2') format('woff2');
}
:root{
    --color-background-p:#08090a;
    --color-background-s:#1c1c1f;
    --text-color-p:#f7f8f8;
    --text-color-t:#8a8f98;
}
*{
    outline-color: transparent;
    text-decoration: none;
}
*, ::after, ::before{
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    -webkit-font-smoothing:antialiased;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: none;
    overflow-x: hidden;
    font-family: 'default';
}
body, html{
    overflow-x: hidden;
    margin: 0;
    min-height: 100vh;
    background: var(--color-background-p);
    color: var(--text-color-p);
    font-feature-settings: "cv01", "ss03";
    font-variation-settings: "opsz" auto;
}
svg, button, a{
    cursor: pointer;
}
img, svg{
    flex-shrink: 0;
}
header, span{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
h1, h2, h3, h4, h5, h6, li, p{
    margin: 0;
}
li{
    list-style: none;
}
.d-flex{
    display: flex;
}
.d-iflex{
    display: inline-flex;
}
.jc-c{
    justify-content: center;
}
.ai-c{
    align-items: center;
}
.jc-fs{
    justify-content: flex-start;
}
.p-r{
    position: relative;
}
.p-a{
    position: absolute;
}
.fd-c{
    flex-direction: column;
}
.fd-r{
    flex-direction: row;
}
.ta-c{
    text-align: center;
}
.jc-sb{
    justify-content: space-between;
}
.min-w_0{
    min-width: 0;
}
.ssa-c{
    scroll-snap-align: center;
}
.ai-fe{
    align-items: flex-end;
}
.position-fixed-tag{
    position: fixed;
    top: 64px;
    left: 0;
    right: 0;
    opacity: 0;
    height: 32px;
    padding: 0 16px;
    pointer-events: none;
}
.nav-header{
    user-select: none;
    isolation: isolate;
    position: fixed;
    top: 0;
    inset-inline: 0;
    margin-inline: auto;
    z-index: 100;
    transform: matrix(1, 0, 0, 1, 0, 0);
    backdrop-filter: blur(20px);
    background: hsla(0,0%,4%,.8);
    border-bottom: 1px solid hsla(0,0%,100%,.08);
}
.nav-header::before{
    content: '';
    position: absolute;
    pointer-events: none;
    inset: 0;
    background: linear-gradient(180deg, var(--color-background-p) 0, transparent 100%);;
}
.nav-container{
    height: 100%;
    height: 64px;
    width: 100%;
    max-width: 1024px;
    padding: 0 24px;
    margin-inline: auto;
}
.nav-contents{
    width: 100%;
    min-height: 64px;
    margin: 0;
    padding: 0;
}
.navbar-logo-text{
    flex: 1 1;
    color: var(--text-color-p);
}
.nav-item-default{
    white-space: nowrap;
    margin: 0;
}
.nav-logo-container{
    border-radius: 6px;
    height: 32px;
    padding: 0 8px;
    margin-left: -8px;
}
.nav-buttons-container{
    flex: 1 1;
    justify-content: flex-end;
    gap: 8px;
}
.nav-login-signup-text{
    padding: 0 12px;
    height: 32px;
    font-size: 13px;
    font-weight: 510;
    color: var(--text-color-t);
    border-radius: 8px;
    background: transparent;
}
.signup-button{
    background: #e6e6e6;
    border: 1px solid #e6e6e6;
    color: var(--color-background-p);
    line-height: 32px;
    box-shadow: 0px 8px 2px 0px transparent,0px 5px 2px 0px rgba(0,0,0,.01),0px 3px 2px 0px rgba(0,0,0,.04),0px 1px 1px 0px rgba(0,0,0,.07),0px 0px 1px 0px rgba(0,0,0,.08);
}
.mobile-category-item{
    margin-left: -16px;
}
.mobile-category-button{
    outline: none;
    height: 64px;
    aspect-ratio: 1;
    margin-right: -24px;
    appearance: none;
    background: none;
    padding: 0;
    border: none;
}
.main-contents-container{
    padding-top: 64px;
    flex: 1 1;
    min-height: 750px;
}
.main-hero-section{
    padding: 72px 24px 0 24px;
    width: 100%;
    margin-inline: auto;
}
.hero-header{
    font-size: 56px;
    line-height: 1.1;
    font-weight: 538;
    letter-spacing: -.0325em;
    font-variation-settings: "opsz" 28;
}
.spacer{
    height: 1px;
    width: 1px;
    user-select: none;
    margin-top: calc(var(--marg-height, 0px) - 1px);
    margin-left: calc(var(--marg-width, 0px) - 1px);
}
.hero-para-text{
    font-size: 21px;
    font-weight: 510;
    letter-spacing: -0.012em;
    color: rgba(255, 255, 255, 0.7);
    text-wrap: balance;
    line-height: 27.93px;
}
.button-variation_1{
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    gap: 6px;
    border-radius: 10px;
    padding: 0 16px;
}
.gradient-color{
    background-image:linear-gradient(to right, rgb(247, 248, 248), rgba(254, 254, 254, 0.554) 80%), none;
   background-position-x: 0%;
   background-position-y: 0%;
    background-origin: padding-box, padding-box;
    background-clip: text;
}
.hero-image-container{
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
.hero-image-container::after{
        content: "";
    pointer-events: none;
    position: absolute;
    inset: 0;
    z-index: 2;
    background: linear-gradient(to bottom, transparent 50%, #08090a 100%);
}
.hero-image-height-perspective{
    height: 900px;
    width: 100%;
    contain: strict;
    perspective: 4000px;
    perspective-origin: 100% 0;
}
.transform-style{
    transform-style: preserve-3d;
}
.hero-image-rotate-conainer{
    inset: 0;
    border-radius: 10px;
    border: 1px solid #1e1e1e;
    background: var(--color-background-p);
    width: 1600px;
    height: 900px;
    margin: 280px auto auto;
    transform: translateX(2%) scale(1.2) rotateX(47deg) rotateY(31deg) rotate(324deg);
    transform-origin: top left;
    backface-visibility: hidden;
}
.hero-image-left-side{
    width: 260px;
    padding: 16px 14px;
}
.individual-top-left-side>div{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #262626;
}
.insta-inbox-container{
    left: 260px;
    inset-block: 8px;
    height: 100%;
}
.individual-small-images{
    border-radius: 50%;
}
.rolling-scroll-section{
    padding-block: 64px;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1024px;
    width: 100%;
    margin-inline: auto;
}
.rolling-croll-para{
    font-size: 15px;
    font-weight: 510;
    letter-spacing: -0.011em;
    color: var(--text-color-t);
    text-wrap: balance;
    line-height: 24px;
}
.scroller-container{
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
.scroler-flex-container{
    overflow: hidden;
    max-width: 100%;
    mask-image: linear-gradient(to right, transparent, rgba(0,0,0,.2) calc( 16px / 2), #000 16px, #000 calc(100% - 16px), rgba(0,0,0,.2) calc(100% - calc(16px / 2)), transparent 100%);;
}
.scrolling-content{
    flex-shrink: 0;
    gap: 24px;
    min-width: 100%;
}
.scrolling-logos{
    width: 120px;
    height: auto;
    color: var(--text-color-p);
}
.product-page-section{
    padding: 160px 0;
    isolation: isolate;
    background: linear-gradient(180deg, transparent, rgba(97, 106, 115, .12) 40%, rgba(97, 106, 115, .12) 60%, rgba(97, 106, 115, 0));
}
.product-page-section-container{
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    max-width: 1024px;
    gap: var(--gap);
    margin-inline: auto;
}
.page-section-header{
    grid-area: a;
}
.section-para-text{
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.165px;
    color: #8a8f98;
    font-weight: 510;
    text-wrap: balance;
}
.page-section-scroller{
    scroll-snap-type: x mandatory;
    overflow: scroll hidden;
    scroll-snap-stop: always;
    padding-block: 4px;
    scrollbar-width: none;
}
.individual-scrolling--containers{
    gap: 8px;
    min-width: fit-content;
}
.individual-scrolling--containers::before{
    content: '';
    display: block;
    min-width: 16px;
}
.individual-scrolling--containers::after{
    content: '';
    display: block;
    min-width: 16px;
}
.individual-scrollers-button{
    text-align: left;
    isolation: isolate;
    overflow: hidden;
    padding: 32px 24px;
    height: 360px;
    aspect-ratio: 336 / 360;
    border-radius: 30px;
    background: #08090a;
    transition: filter .2s ease-out;
    appearance: none;
    border: none;
    justify-content: flex-end;
    font: inherit;
}
.scroller-image{
    height: auto;
    max-width: 100%;
}
.scroller-text{
    font-size: 21px;
    font-weight: 510;
    letter-spacing: -0.252px;
    line-height: 27.93px;
    color: var(--text-color-p);
}
.button-root{
    appearance: none;
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    max-width: 100%;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    text-shadow: none;
    vertical-align: baseline;
}
.button-scroller-container{
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    border: 1px solid var(--color-background-s);
    background: var(--color-background-p);
    color: var(--text-color-t);
    font-weight: 510;
    font-size: 15px;
    gap: 6px;
    padding: 0 16px;
    transition: cubic-bezier(0.25,0.46,0.45,0.94);
    transition-property: border, background-color, color, box-shadow, opacity, filter, transform;
}
.button-scroller-container>svg{
    will-change: transform;
    fill: #9c9da1;
    width: 18px;
    height: 18px;
}
.section-background{
    background: linear-gradient(to bottom, hsla(0,0%,100%,.05), transparent 20%);
}
.eyebrow-indicator{
    background-color: #68CC58;
    width: 14px;
    height: 8px;
    border-radius: 9999px;
}
.project-longterm-text{
    font-size: 14px;
    font-weight: 510;
    letter-spacing: -0.182px;
    line-height: 21px;
    color: #d0d6e0;
}